.my_input{
	border-radius: 5px;
	margin-bottom: 10px;
	/*margin-left: 10%;
	width: 80%;*/
}

.btn-form{
	background-color: #607D8B !important;
	border-color: #607D8B!important;
	font-size: 12px!important;
    color: #FFFFFF!important;
}

.btn-form:hover{
	background-color: #607D8B!important;
}

.signup{
	background-color: #607D8B !important;
	border-color: #607D8B!important;
	font-size: 12px!important;
    color: #FFFFFF!important;
}

.signup:hover{
	background-color: #607D8B!important;
}

.my_input::-webkit-input-placeholder {
    color: #78909C;
}

.my_input:-moz-placeholder {
    color: #78909C;
    opacity: 1;
}

.my_input::-moz-placeholder {
    color: #78909C;
    opacity: 1;
}

.my_input:-ms-input-placeholder {
    color: #78909C;
}

.my_input{
	color: #78909C;
}

.my_input:focus{
	border-color: #78909C;
}

.centered-form .panel {
    background: #CFD8DC;
    width: 80%;
    float: right;
}

.divider{
	margin: 5% 10%;
}

.date{
    width: 80%;
}

.forgot{
    font-size: 11px;
    color: #607D8B;
    text-decoration: none;
}

.color{
    color: #607D8B;
}

#myModalLabel{
    color: #455A64;
}