
.notif{
	font-size: 10px;
}



.follow{
	float: left;
}

img.follow{
	height: 50px;
	width: 50px;
}

button.follow {
	float: right;
}

div.post-content  p  span.like-button {
	padding: 0px;
}

tr.like-row  td  img {
	height: 40px;
	width: 40px;
	float: left;

}

tr.like-row  td  p {
	float: left;
	margin-left: 10px;
}

.chat-list-panel{
    max-height: 350px !important;
}

.follow-btn{
    padding-top: 1px;
    padding-bottom: 1px;
}

.tab-title {
    margin-top: 0.4em;
    margin-left: 8px;
}