.badge-follower{
	background-color: #E53935;
	border-color: #E53935;
}

.notif{
	font-size: 10px;
}

.movie-img {
	height: 80px;
	width: 80px;
	float: left;
	margin-left: 30px;
}
.movie-img + a{
	float: left;
	margin-left: 10px;
	font-size: 30px;
}

#display-name{
	font-weight: bolder;
	font-size: 30px;
}

#pro-pic{
	height: 200px;
	width: 200px;
}

.follow{
	float: left;
}

img.follow{
	height: 50px;
	width: 50px;
}

button.follow {
	float: right;
}

div.post-content  p  span.like-button {
	padding: 0px;
}

tr.like-row  td  img {
	height: 40px;
	width: 40px;
	float: left;

}

tr.like-row  td  p {
	float: left;
	margin-left: 10px;
}



.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../../static/img/star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../../static/img/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

table th, table td{
    border-top: none !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.chat-list-panel{
    max-height: 350px !important;
}