.badge-follower{
	background-color: #E53935;
	border-color: #E53935;
}

.notif{
	font-size: 10px;
}

.movie-img {
	height: 80px;
	width: 80px;
	float: left;
	margin-left: 30px;
}
.movie-img + a{
	float: left;
	margin-left: 10px;
	font-size: 30px;
}

#display-name{
	font-weight: bolder;
	font-size: 30px;
}



.follow{
	float: left;
}

img.follow{
	height: 50px;
	width: 50px;
}

button.follow {
	float: right;
}

div.post-content  p  span.like-button {
	padding: 0px;
}

tr.like-row  td  img {
	height: 40px;
	width: 40px;
	float: left;

}

tr.like-row  td  p {
	float: left;
	margin-left: 10px;
}



table th, table td{
    border-top: none !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}



