{% load static %}
<!DOCTYPE html>
<head>
    <title>{{user.username}}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/selectize.bootstrap3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<body>

<!--TODO notification-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-bell"></span>Notification</a>
                    <ul class="dropdown-menu" role="menu" id="notif-menu">

                    </ul>
                </li>
                <li>
                    <a href="/profile/{{ user.username }}" class="nickname">{{ user.nickname }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        {% if user %}
                        <li><a href="/user/logout">log Out</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search" action="/search" id="search">
                <div class="form-group">
                    <input type="text" class="col-md-12 form-control my-input typeahead" placeholder="Search" autocomplete="off">
                    <ul class="typeahead dropdown-menu"></ul>
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container my-container">
<div class="row">
<div class="col-xs-3 section" id="chat-list">
{% block profile %}
{% endblock %}
<div class="panel panel-default" id="l">
    <div class="panel-body chat-list-panel">
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <h5 class="name-chat">Peyman Ezzati</h5>
                            <small class="text-muted second-color">Active From 3 hours</small>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default chat" hidden="true">
    <div class="panel-body ">
        <ul class="media-list">

            <li class="media">

                <div class="media-body">

                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <span class="msg-text">Donec sit amet ligula enim. Duis vel condimentum massa.</span>
                            <small class="text-muted second-color">Peyman Ezzati | 23rd June at 5:00pm</small>
                        </div>
                    </div>

                </div>
            </li>
            <li class="media">

                <div class="media-body">

                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle small-img" src="{% static 'img/peyman.jpg' %}" />
                        </a>
                        <div class="media-body" >
                            <span class="msg-text">Donec sit amet ligula enim. Duis vel condimentum massa.</span>
                            <small class="text-muted second-color">Peyman Ezzati | 23rd June at 5:00pm</small>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <div class="input-group">
            <input type="text" class="form-control chat-msg my_input" placeholder="Enter Message" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-form" type="button">SEND</button>
                                    </span>
        </div>
    </div>
</div>
</div>
{% block content %}
{% endblock %}
<div class="col-xs-3 section">
    <div class="panel panel-default r">
        <div class="panel-body">
            <h5>Movies you may interest!</h5>
            <hr class="divider">
            <div id="movie-interest" data-sugg="not-set">

            </div>
        </div>
    </div>
    <div class="panel panel-default r">
        <div class="panel-body">
            <h5>People you may know</h5>
            <hr class="divider">
            <div id="people-interest" data-sugg="not-set">

            </div>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-typeahead.js' %}"></script>
{#<script type="text/javascript" src="{% static 'js/bootstrap/selectize.min.js' %}"></script>#}

<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
<script type="text/javascript" src="{% static 'js/suggestion.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notifcation.js' %}"></script>

</body>