{% extends 'mysite/base1.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/timeline_style.css' %}">
<div class="row">
    <div class="col-xs-3 section">
        <div class="panel panel-default" id="l">
            <div class="panel-body">
                <h5>Popular movies</h5>
                <hr class="divider">
                <div class="media">
                    <div class="media-left media-top popular-movie">
                        <a href="#">
                            <img class="media-object img-rounded" src="{% static 'img/Interstellar1.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Interstellar</h4>
                        rating here!
                    </div>
                </div>
                <hr class="divider small-divider">
                <div class="media">
                    <div class="media-left media-top popular-movie">
                        <a href="#">
                            <img class="media-object img-rounded" src="{% static 'img/Interstellar1.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Interstellar</h4>
                        rating here!
                    </div>
                </div>
                <hr class="divider small-divider">
                <div class="media">
                    <div class="media-left media-top popular-movie">
                        <a href="#">
                            <img class="media-object img-rounded" src="{% static 'img/Interstellar1.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Interstellar</h4>
                        rating here!
                    </div>
                </div>
                <hr class="divider small-divider">
                <div class="media">
                    <div class="media-left media-top popular-movie">
                        <a href="#">
                            <img class="media-object img-rounded" src="{% static 'img/Interstellar1.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Interstellar</h4>
                        rating here!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 section">
        <div class="panel panel-default" id="m">
            <div class="panel-body">
                <img class="img-responsive col-lg-3 pro-pic" src="{% static 'img/peyman.jpg' %}">
                <h5>Peyman Ezzati</h5>
                <div class="red date"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>13 April 1994</div>
                <!--<hr class="divider small-divider">-->
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="{% static 'img/Interstellar.jpg' %}" alt="...">
                        <div class="caption">
                            <p>Interstellar is a 2014 science fiction epic film directed by Christopher Nolan, starring Matthew McConaughey, Anne Hathaway, Jessica Chastain and Michael Caine. The film features a crew of astronauts who travel through a wormhole in search of a new home for humanity. Brothers Christopher and Jonathan Nolan wrote the screenplay, which has its origins in a script Jonathan developed in 2007. Christopher Nolan produced the film with his wife Emma Thomas through their production company Syncopy and with Lynda Obst through Lynda Obst Productions.</p>
                            <div class="hr text-left"><span class="glyphicon glyphicon-comment"></span>12 Commnets<span class="glyphicon glyphicon-star-empty star-like"></span>10 Favourites</div>
                            <!--<div class="comment">-->
                            <div class="media">
                                <div class="media-left media-top my-media">
                                    <a href="#">
                                        <img class="media-object img-circle" src="{% static 'img/peyman.jpg' %}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    the end of earth will not be the end of us!the end of earth will not be the end of us!the end of earth will not be the end of us!the end of earth will not be the end of us!
                                </div>
                            </div>
                            <div class="hr small-divider text-right"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>25 Nov 2014</div>
                            <div class="media">
                                <div class="media-left media-top my-media">
                                    <a href="#">
                                        <img class="media-object img-circle" src="{% static 'img/peyman.jpg' %}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    the end of earth will not be the end of us!the end of earth will not be the end of us!the end of earth will not be the end of us!the end of earth will not be the end of us!
                                </div>
                            </div>
                            <div class="hr small-divider text-right"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>25 Nov 2014</div>
                            <div class="media">
                                <div class="media-left media-top my-media">
                                    <a href="#">
                                        <img class="media-object img-circle" src="{% static 'img/peyman.jpg' %}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="input-group col-lg-12 col-xs-12">
                                        <textarea type="text" class="form-control comment" placeholder="Add comment..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="divider">
                </div>
            </div>
            <div class="panel-body">
                <img class="img-responsive col-lg-3 pro-pic" src="{% static 'img/peyman.jpg' %}">
                <h5>Peyman Ezzati</h5>
                <div class="red date"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>13 April 1994</div>
                <!--<hr class="divider small-divider">-->
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="{% static 'img/Interstellar.jpg' %}" alt="...">
                        <div class="caption">
                            <p>Interstellar is a 2014 science fiction epic film directed by Christopher Nolan, starring Matthew McConaughey, Anne Hathaway, Jessica Chastain and Michael Caine. The film features a crew of astronauts who travel through a wormhole in search of a new home for humanity. Brothers Christopher and Jonathan Nolan wrote the screenplay, which has its origins in a script Jonathan developed in 2007. Christopher Nolan produced the film with his wife Emma Thomas through their production company Syncopy and with Lynda Obst through Lynda Obst Productions.</p>
                            <div class="hr text-left"><span class="glyphicon glyphicon-comment"></span>12 Commnets<span class="glyphicon glyphicon-star-empty star-like"></span>10 Favourites</div>
                            <!--<div class="comment">-->
                            <div class="media">
                                <div class="media-left media-top my-media">
                                    <a href="#">
                                        <img class="media-object img-circle" src="{% static 'img/peyman.jpg' %}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    the end of earth will not be the end of us!the end of earth will not be the end of us!the end of earth will not be the end of us!the end of earth will not be the end of us!
                                </div>
                            </div>
                            <div class="hr small-divider text-right"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>25 Nov 2014</div>
                            <div class="media">
                                <div class="media-left media-top my-media">
                                    <a href="#">
                                        <img class="media-object img-circle" src="{% static 'img/peyman.jpg' %}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    the end of earth will not be the end of us!the end of earth will not be the end of us!the end of earth will not be the end of us!the end of earth will not be the end of us!
                                </div>
                            </div>
                            <div class="hr small-divider text-right"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>25 Nov 2014</div>
                            <div class="media">
                                <div class="media-left media-top my-media">
                                    <a href="#">
                                        <img class="media-object img-circle" src="{% static 'img/peyman.jpg' %}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="input-group col-lg-12 col-xs-12">
                                        <textarea type="text" class="form-control comment" placeholder="Add comment..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="divider">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3 section">
        <div class="panel panel-default r">
            <div class="panel-body">
                <h5>Movies you may interest!</h5>
                <hr class="divider">
                <div class="media">
                    <div class="media-left media-top popular-movie">
                        <a href="#">
                            <img class="media-object img-rounded" src="{% static 'img/Interstellar1.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Interstellar</h4>
                        4 follower favourites this movie!
                    </div>
                </div>
                <hr class="divider small-divider">
                <div class="media">
                    <div class="media-left media-top popular-movie">
                        <a href="#">
                            <img class="media-object img-rounded" src="{% static 'img/Interstellar1.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Interstellar</h4>
                        4 follower favourites this movie!
                    </div>
                </div>
                <hr class="divider small-divider">
                <div class="media">
                    <div class="media-left media-top popular-movie">
                        <a href="#">
                            <img class="media-object img-rounded" src="{% static 'img/Interstellar1.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Interstellar</h4>
                        4 follower favourites this movie!
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default r">
            <div class="panel-body">
                <h5>People you may know</h5>
                <hr class="divider">
                <div class="media">
                    <div class="media-left media-top popular-movie">
                        <a href="#">
                            <img class="media-object img-rounded" src="{% static 'img/peyman.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Peyman Ezzati</h4>
                        4 mutual follower
                    </div>
                </div>
                <hr class="divider small-divider">
                <div class="media">
                    <div class="media-left media-top popular-movie">
                        <a href="#">
                            <img class="media-object img-rounded" src="{% static 'img/peyman.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Peyman Ezzati</h4>
                        4 mutual follower
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/comment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/like.js' %}"></script>
{% endblock content %}