<div class="panel-body post-body" date_time="2015-06-17 07:49:31.605190+00:00"><a
        href="profile//media/avatars/peyman_7Avdopf.jpg"><img class="img-responsive col-lg-3 pro-pic"
                                                              src="/media/avatars/peyman_7Avdopf.jpg"></a><h5><a
        href="/profile/kiana">kiana</a><span class="text-muted date"><span class="glyphicon glyphicon-time"
                                                                           aria-hidden="true"></span><a href="/post/1"
                                                                                                        class="text-muted">2015-06-17
    07:49:31.605190+00:00</a></span></h5><span tabindex="0" id="movie-info1" class="color-popover" data-toggle="popover"
                                               data-trigger="hover"
                                               data-content="Interstellar is a 2014 science fiction epic film directed by Christopher Nolan, starring Matthew McConaughey, Anne Hathaway, Jessica Chastain and Michael Caine. The film features a crew of astronauts who travel through a wormhole in search of a new home for humanity. Brothers Christopher and Jonathan Nolan wrote the screenplay, which has its origins in a script Jonathan developed in 2007. Christopher Nolan produced the film with his wife Emma Thomas through their production company Syncopy and with Lynda Obst through Lynda Obst Productions.">Interstellar</span>

    <div class="col-sm-12 col-md-12">
        <div class="thumbnail"><img src="/media/movie_covers/Interstellar.jpg" alt="Interstellar cover photo">

            <div class="caption"><input class="postRate" value="9.6" type="number" readonly="true" data-stars="10"
                                        class="rating" min=0 max=10 step=0.2 data-size="xs">

                <p>This is a good film</p>

                <div class="hr second-color text-left"><span class="glyphicon glyphicon-comment"></span><span p-id="1">1 Comments</span><span
                        class="glyphicon glyphicon-star-empty star-like" post-id="1"></span><span>0 Favourites</span>
                </div>
                <div class="media">
                    <div class="media-left media-top my-media"><a href="/profile/kiana"><img
                            class="media-object img-circle" src="/media/avatars/peyman_7Avdopf.jpg" alt="author avatar"></a>
                    </div>
                    <div class="media-body">Hi
                    </div>
                </div>
                <div class="hr second-color small-divider text-right"><span class="glyphicon glyphicon-time"
                                                                            aria-hidden="true"></span>2015-06-20
                    19:57:46.210769+00:00
                </div>
                <div class="media">
                    <div class="media-left media-top my-media"><a href="/profile/kiana"><img
                            class="media-object img-circle" src="/media/avatars/peyman_7Avdopf.jpg"
                            alt="user avatar"></a></div>
                    <div class="media-body">
                        <div class="input-group col-lg-12 col-xs-12"><textarea type="text" class="form-control comment"
                                                                               post-id="1"
                                                                               placeholder="Add comment..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider">
    </div>
</div>