{% extends 'mysite/base.html' %}
{% load static %}
{% block loginForm %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% comment %}<link href="{% static 'toastr-master/toastr.css' %}" rel="stylesheet">
    <script src="{% static 'toastr-master/toastr.js' %}"></script>{% endcomment %}

    <div class="row">
        <div class="col-lg-9" id="web_desc">

        </div>
        <div class="col-lg-3" id="forms">
            <div class="row centered-form">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form method="post" role="form" action="home.html"  data-toggle="validator" id="signin">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="username"
                                       class="form-control input-sm color_tooltip my_input" placeholder="username"
                                       data-toggle="tooltip" data-animation="true"
                                       data-placement="bottom" title="Please enter your username">
                                <input type="password" name="password"
                                       class="form-control input-sm color_tooltip my_input" placeholder="password"
                                       data-toggle="tooltip" data-animation="true"
                                       data-placement="bottom" title="Please enter your password">
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-form pull-left" id="sign-in-btn">
                                        Sign In
                                    </button>
                                </div>

                            </div>
                            <a class="forgot" data-toggle="modal" data-target="#myDesc">forgot password?</a>
                            <div class="container">
                                <div class="modal fade" id="myDesc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">
                                   &times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Forgot Password!</h4>
                                            </div>
                                            <form class="mine" method="post" action="/signin/modal">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <input type="text" name="username"
                                                           class="form-control input-sm color_tooltip my_input" placeholder="username"
                                                           data-toggle="tooltip" data-animation="true"
                                                           data-placement="bottom" title="Please enter your username">
                                                </div>
                                                <div class="modal-footer ">
                                                    <button type="button" class="btn btn-success btn-form" onclick="return submitPost()" id="post-desc">Post</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr class="divider">
                    <div class="panel-body">
                        <form method="post" role="form" action="register" data-toggle="validator" id="signup">
                            {% csrf_token %}
                            <div class="form-group" >
                                <input type="text" name="username"
                                       class="form-control input-sm color_tooltip my_input" placeholder="username"
                                       data-toggle="tooltip" data-animation="true"
                                       data-placement="bottom" title="Please enter your username, only a to z and numeric character" pattern="^([_A-z0-9]){3,}$" maxlength="20" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password_signup"
                                       class="form-control input-sm color_tooltip my_input" placeholder="password"
                                       data-toggle="tooltip" data-animation="true"
                                       data-placement="bottom" title="Please enter your password with Minimum of 6 characters" data-minlength="6" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="password" name="confirm" id="password_confirm"
                                       class="form-control input-sm color_tooltip my_input" placeholder="confirm"
                                       data-toggle="tooltip" data-animation="true"
                                       data-placement="bottom" title="Please confirm your password" data-match="#password_signup" data-match-error="Whoops, these don't match" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email"
                                       class="form-control input-sm color_tooltip my_input" placeholder="email"
                                       data-toggle="tooltip" data-animation="true"
                                       data-placement="bottom" title="Please enter your email" data-error="Bruh, that email address is invalid" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <div id="datetimepicker1" class="input-append date">
                                    <input data-format="dd/MM/yyyy hh:mm:ss" type="text" name="birth_date" id="date"
                                           class="form-control input-sm color_tooltip my_input" placeholder="birthdate"
                                           data-toggle="tooltip" data-animation="true"
                                           data-placement="bottom" title="Please enter your birthdate" required>
                                <span class="add-on">
                                  <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                      <span class="glyphicon glyphicon-calendar color"></span>
                                  </i>
                                </span>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-form pull-left signup">
                                        Sign Up
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/validator.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-datetimepicker.min.js' %}"></script>

    <script type="text/javascript">
        $(function() {
            $('#datetimepicker1').datetimepicker({
                language: 'pt-BR'
            });
        });
        function submitPost(){
            $('#myDesc').modal('hide');
        }

    </script>
{% endblock loginForm %}