{% extends 'mysite/home.html' %}
{% load static %}

{% block profile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/timeline_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profileTable.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-datetimepicker.min.css' %}">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media col-lg-10" style="padding-left: 0px">
                <div class="media-left media-top popular-movie">
                    <img class="media-object img-rounded" id="profile-avatar" src="{{ other.avatar.url }}"
                         alt="{{ other.username }} avatar">
                </div>
                <div class="media-body">
                    <h5 class="media-heading nickname"> {{ other.nickname }}</h5>

                    <div>
                        @{{ other.username }}
                        {% if not owner %}
                            {% if follows %}
                                <button class="btn btn-default follow-btn follow"
                                        data-follow="unfollow" data-user="{{ other.username }}">Unfollow
                                </button>
                            {% endif %}
                            {% if not follows %}
                                <button class="btn btn-default follow-btn follow"
                                        data-follow="follow" data-user="{{ other.username }}">follow
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                {% if owner %}
                    <button href="#edit-tab" data-toggle="tab" class="btn btn-sm btn-primary btn-second-color"
                            style="float: right;font-size: 10px"
                            id="editProfile">Edit profile
                    </button>
                    <button href="#password-tab" data-toggle="tab" class="btn btn-sm btn-danger btn-red"
                            style="float: right ;font-size: 10px; display: none"
                            id="changePassword">Change Password
                    </button>
                {% endif %}
            </div>
            <br>

            <table class="table">
                <tr>
                    <th><a href="#post-tab" data-toggle="tab" class="text-muted small-font">POSTS</a></th>
                    <th><a href="#follower-tab" data-toggle="tab" class="text-muted small-font">FOLLOWERS</a></th>
                    <th><a href="#following-tab" data-toggle="tab" class="text-muted small-font">FOLLOWINGS</a></th>
                </tr>
                <tr>
                    <td class="second-color">{{ posts.count }}</td>
                    <td class="second-color">{{ followers.count }}</td>
                    <td class="second-color">{{ other.follow.count }}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock profile %}

{% block other_tab %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/timeline_style.css' %}">-->
    <div class="tab-pane" id="follower-tab">
        <h3 class="tab-title">Followers</h3>

        <div class="container-fluid">
            {% for user1 in followers.all %}
                <div class="media col-lg-6" style="margin-top: 15px">
                    <div class="media-left media-top popular-movie">
                        <a href="/profile/{{ user1.username }}">
                            <img class="media-object img-rounded" src="{{ user1.avatar.url }}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">{{ user1.username }}</h5>

                        <div>
                            @{{ user1.username }}
                            {% if user1.username != user.username %}
                                {% if user1 in other.follow.all %}
                                    <button class="btn btn-success follow-btn follow" data-follow="unfollow"
                                            data-user="{{ user1.username }}">unfollow
                                    </button>
                                {% endif %}
                                {% if user1 not in other.follow.all %}
                                    <button class="btn btn-success follow-btn follow" data-follow="follow"
                                            data-user="{{ user1.username }}">follow
                                    </button>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><!-- follower-tab-->

    <div class="tab-pane" id="following-tab">
        <h3 class="tab-title">Following</h3>

        <div class="container-fluid">
            {% for user1 in other.follow.all %}
                <div class="media col-lg-6" style="margin-top: 15px">
                    <div class="media-left media-top popular-movie">
                        <a href="/profile/{{ user1.username }}">
                            <img class="media-object img-rounded" src="{{ user1.avatar.url }}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">{{ user1.username }}</h5>

                        <div>
                            @{{ user1.username }}
                            {% if user1.username != user.username %}
                                <button class="btn btn-success follow-btn follow" data-follow="unfollow"
                                        data-user="{{ user1.username }}">unfollow
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane" id="edit-tab">
        <div class="container-fluid" id="message">
            <div class="media col-lg-6 col-lg-offset-3" style="margin-top: 15px">
                <div class="panel-body">
                    <h4 class="tab-title red">Edit your profile</h4>

                    <form onsubmit="return false;" method="post" role="form" action="#" data-toggle="validator" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="nickname"
                                   class="form-control input-sm color_tooltip my_input" value="{{ user.nickname }}"
                                   placeholder="{{ user.nickname }}"
                                   data-toggle="tooltip" data-animation="true"
                                   data-placement="bottom"
                                   title="Please enter your nickname, only alphabet characters"
                                   pattern="^([_A-z]){3,}$" maxlength="20" required>

                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email"
                                   class="form-control input-sm color_tooltip my_input" value="{{ user.email }}"
                                   placeholder="{{ user.email }}"
                                   data-toggle="tooltip" data-animation="true"
                                   data-placement="bottom" title="Please enter your email"
                                   data-error="Bruh, that email address is invalid" required>

                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="file" name="avatar" id="avatar"
                                   class="form-control input-sm color_tooltip my_input" value="{{ user.avatar.url }}"
                                   placeholder="{{ user.avatar.url }}"
                                   data-toggle="tooltip" data-animation="true"
                                   data-placement="bottom" title="Please select your avatar"
                                   >

                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <div id="datetimepicker" class="input-append date">
                                <input data-format="yyyy-MM-dd" type="text" name="birth_date" id="date"
                                       class="form-control input-sm color_tooltip my_input"
                                       value="{{ user.birth_date }}"
                                       placeholder="{{ user.birth_date }}"
                                       data-toggle="tooltip" data-animation="true"
                                       data-placement="bottom" title="Please enter your birthdate" required>
                                <span class="add-on">
                                  <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                      <span class="glyphicon glyphicon-calendar color"></span>
                                  </i>
                                </span>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="submit" id="edit" username="{{ user.username }}"
                                        class="btn btn-form pull-left signup">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="password-tab">
        <div class="container-fluid" id="password_message">
            <div class="media col-lg-6 col-lg-offset-3" style="margin-top: 15px">
                <div class="panel-body">
                    <h4 class="tab-title red">Change password</h4>

                    <form onsubmit="return false;" method="post" role="form" action="#" data-toggle="validator">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="password" name="current_password" id="current_password"
                                   class="form-control input-sm color_tooltip my_input" placeholder="Current password"
                                   data-toggle="tooltip" data-animation="true"
                                   data-placement="bottom"
                                   title="Please enter your current password"
                                   required>

                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="new_password"
                                   class="form-control input-sm color_tooltip my_input" placeholder="New password"
                                   data-toggle="tooltip" data-animation="true"
                                   data-placement="bottom"
                                   title="Please enter new password with Minimum of 6 characters"
                                   data-minlength="6" required>

                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm" id="password_confirm"
                                   class="form-control input-sm color_tooltip my_input" placeholder="Confirm your password"
                                   data-toggle="tooltip" data-animation="true"
                                   data-placement="bottom" title="Please confirm your password"
                                   data-match="#new_password" data-match-error="Whoops, these don't match"
                                   required>

                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="submit" id="change_password" username="{{ user.username }}"
                                        class="btn btn-form pull-left signup">
                                    Change
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker({
                language: 'pt-BR'
            });
        });
    </script>
    <!--<script type="text/javascript" src="{% static 'js/chat.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/comment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/like.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/movie_info.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/follow.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validator.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock other_tab %}