{% extends 'mysite/home.html' %}
{% load static %}
{% block profile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profileTable.css' %}">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Results of "{{ query }}"</h4>
            <br>
            <table class="table">
                <tr>
                    <th><a href="#post-tab" data-toggle="tab" class="text-muted small-font">POSTS</a></th>
                    <th><a href="#people-tab" data-toggle="tab" class="text-muted small-font">PEOPLE</a></th>
                    <th><a href="#movies-tab" data-toggle="tab" class="text-muted small-font">MOVIES</a></th>
                </tr>
                <tr>
                    <td class="second-color">{{ num_of_posts }}</td>
                    <td class="second-color">{{ users|length }}</td>
                    <td class="second-color">{{ movies|length }}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock profile %}

{% block other_tab %}

    <div class="tab-pane" id="people-tab">
        <table class="table">
            <tr>
                {% for user in users %}
                    <td>
                        <div class="media">
                            <div class="media-left media-top popular-movie">
                                <a href="/profile/{{ user.username }}">
                                    <img class="media-object img-rounded" src="{{ user.avatar.url }}"
                                         alt="{{ user.username }}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">{{ user.nickname }}</h5>

                                {#                                <p>@{{ user.username }}</p>#}
                                {% if user.follows %}
                                    <button class="btn follow-btn btn-second-color follow btn-sm"
                                            data-follow="unfollow" data-user="{{ user.username }}">Unfollow
                                    </button>
                                {% else %}
                                    <button class="btn follow-btn btn-second-color follow btn-sm"
                                            data-follow="follow" data-user="{{ user.username }}">follow
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    {% if forloop.counter|divisibleby:2 %}
                        <tr></tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div><!-- people tab -->


    <div class="tab-pane" id="movies-tab">
        {% for movie in movies %}
            <div class="media">
                <div class="media-left media-top popular-movie">
                    <a href="/movieprofile/{{ movie.name }}">
                        <img class="media-object img-rounded" src="{{ movie.cover_photo.url }}"
                             alt="{{ movie.name }}">
                    </a>
                </div>
                <div class="media-body">
                    <a href="/movieprofile/{{ movie.name }}"><h3 class="media-heading">{{ movie.name }}</h3>
                    </a>
                    <input value="{{ movie.rate }}" type="number" readonly="true" data-stars="10"
                           class="rating movieRate" min=0 max=10 step=0.2 data-size="xs">

                    <p>
                        {{ movie.description }}
                    </p>
                </div>
            </div>

            <hr class="divider">
        {% endfor %}
        </table>
    </div>

    <script src="{% static 'js/search.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/follow.js' %}" type="text/javascript"></script>

{% endblock other_tab %}